$lieanerGradient: radial-gradient(128.88% 128.88% at 103.9% -10.39%, #E84D70 0%, #A337F6 53.09%, #28A7ED 100%);
$activeColor: #4661E6;
$activeHoverColor: #7C91F9;
$orangeColor: #F49F85;
$darkColor: #3A4374;
$darkHoverColor:#656EA3;
$defaultColor: #F2F4FE;
$defaultHoverColor: #CFD7FF;
$primaryColor: #AD1FEA;
$primaryHoverColor: #C75AF6;
$dangerHoverColor: #E98888;
$dangerColor: #D73737;
$bgBodyColor: #F7F8FD;
$whiteColor: #ffffff;
$bgHeaderColor: #373F68;
$borderRadius: 10px;

